<footer class="bg-dark text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Origen</h5>

        <p>
          Cuando la separacion de llollyraider o antes conocida como sapallo ocurrio,
          uno de los integrantes de esa pagina Cristobal Ortiz, aka SapaRaider, decidio
          desarrollar su propia pagina web de monas chinas y foros otakus para la sociedad

        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">SapaRaider</h5>

        <p>
          SapaRaider es una pagina de monas chinas y foros de conversacion donde toda la 
          comunidad otaku puede registrarse libremente para abrir hilos de las monas chinas
          que mas les gusten
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-withe" href="https://mdbootstrap.com/">SapaRaider INC.</a>
  </div>
  <!-- Copyright -->
</footer>