{% extends "includes/base.html" %}
{% block body %}

 <div class="jumbotron text-white jumbotron-image shadow texto">
        <div class="container fondo rounded-pill">
        <h2 class="mb-4 fondo">
            SapaRaider
        </h2>
        </div>
        <div class="container fondo rounded-pill">
        <p class="mb-4">
            Inicia con nosotros y registrate
        </p>
        </div>
        <a class="btn btn-dark">
            Registrarse
        </a>
</div>

{% include "includes/footer.html" %}
{% endblock %}